<script lang="ts">
  import { data, state } from '../utils/stores';
  import Button from '../components/Button.svelte';
  import BackIcon from '../assets/BackIcon.svelte';


  // SHOW MODAL EXAMPLE
  $state.openedModal = false;
  const openModal = () => $state.openedModal = true;
  const closeModal = () => $state.openedModal = false;

  // VOLATILE COUNTER EXAMPLE
  $state.counter = 0;
  const setStateCounter = (n: number) => $state.counter += n;

  // PERSISTENT COUNTER EXAMPLE
  $data.counter = $data.counter || 0;
  const setDataCounter = (n: number) => $data.counter += n;


</script>

<div class="relative flex flex-col h-full">
  <!-- BACKGROUND -->
  <div class="fixed top-0 bottom-0 left-0 right-0 -z-10 bg-slate-800" />

  <!-- EXAMPLE MODAL -->
  {#if $state.openedModal === true}
  <div class="grid place-items-center fixed top-0 bottom-0 left-0 right-0 bg-slate-900/25 pb-24">
    <article class="grid place-content-around prose prose-invert prose-sm w-96 h-40 bg-slate-900 rounded p-4">
      <h2>Simple Modal</h2>
      <Button action={closeModal}>Close</Button>
    </article>
  </div>
  {/if}

  <article class="prose prose-invert mx-auto my-4 w-full">
    <h3 class="">Examples</h3>
    <ul>
      <li>
        <a href="https://svelte.dev/docs#run-time-svelte-store">Stores</a>
        <ol>
          <li>
            <p>State</p>
            <Button action={openModal}>Open Modal</Button>
            <br>
            <small class="font-bold bg-slate-600 p-3 rounded-full">
              <button
                on:click={() => setStateCounter(-1)}
                class="bg-slate-900 rounded-full w-6 h-6"
              >-</button>
              <span class="px-2">Volatile Counter: {$state.counter}</span>
              <button
                on:click={() => setStateCounter(+1)}
                class="bg-slate-900 rounded-full w-6 h-6"
              >+</button>
            </small>
          </li>
          <li>
            <p>Data</p>
            <small class="font-bold bg-slate-600 p-3 rounded-full">
              <button
                on:click={() => setDataCounter(-1)}
                class="bg-slate-900 rounded-full w-6 h-6"
              >-</button>
              <span class="px-2">Persistent Counter: {$data.counter}</span>
              <button
                on:click={() => setDataCounter(+1)}
                class="bg-slate-900 rounded-full w-6 h-6"
              >+</button>
            </small>
            <i class="text-sm">Keep counter after closing the window</i>
          </li>
        </ol>
      </li>
      <br>
      <li>
        <a href="https://tailwindcss.com/docs/typography-plugin">Tailwind Typography</a><br>
        <small>To make use of HTML typography tags with Tailwind. The whole page is made with this.</small>
      </li>
    </ul>
  </article>
  
  <!-- FOOT BAR -->
  <div class="flex items-center px-12 gap-2 fixed w-full bottom-4">

    <!-- ABOUT BUTTON -->
    <Button action={() => state.switchView('home')}>
      <BackIcon class="h-3 mr-2" /> Home 
    </Button>

  </div>
</div>
