<script lang="ts">
  import { state } from '../utils/stores';
  import Button from '../components/Button.svelte';
  import BackIcon from '../assets/BackIcon.svelte';
</script>

<div class="relative flex flex-col h-full">
  <!-- BACKGROUND -->
  <div class="fixed top-0 bottom-0 left-0 right-0 -z-10 bg-slate-800" />

  <article class="prose prose-invert mx-auto my-4 w-full">
    <h2>Svelte Template with Typescript + Tailwind</h2>
    <p>Opinionated template to quickstart svelte projects.</p>
    <h3>What includes?</h3>
    <ul>
      <li><a href="https://www.typescriptlang.org/docs/">Typescript</a></li>
      <li><a href="https://tailwindcss.com/">TailwindCSS</a></li>
      <li>ESLint</li>
      <li>Vite</li>
    </ul>
  </article>
  
  <!-- FOOT BAR -->
  <div class="flex flex-row-reverse items-center px-6 gap-2 fixed w-full bottom-4">

    <!-- EXAMPLES BUTTON -->
    <Button action={() => state.switchView('examples')}>
      Examples <BackIcon class="h-3 ml-2 rotate-180" />
    </Button>

  </div>
</div>
