<script lang="ts">
  export let action = () => {};
</script> 

<button
  on:click={action}
  class="flex justify-center place-items-center bg-blue-600 rounded px-4 py-2 text-gray-200 text-sm font-medium"
>
  <slot />
</button>