<script lang="ts">
  import './global.css';
  import { state } from './utils/stores';
  import Home from './views/Home.svelte';
  import Examples from './views/Examples.svelte';
</script>

<div id="root" class="w-full h-full m-auto">
  {#if $state.view.current === 'home'} <Home />
  {:else if $state.view.current === 'examples'} <Examples />
  {/if}
</div>
