@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
  
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: max(min(3vh, 2vw), 10px);
  }

  body {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  body:fullscreen {
    overflow: auto;
  }
}
